
a {
    cursor: pointer;
    color: #1976d2;
    text-decoration: none;
}

.button, button {
    display: inline-flex;
    align-items: center;
    padding: 8px 16px;
    border-radius: 2px;
    font-size: 14px;
    cursor: pointer;
    background-color: #1976d2;
    color: white;
    border: none;
}

.fancy-button {
    background-color: white;
    color: #1976d2;
}